@media only screen and (max-width: 780px) {
	.navbar-socialicons {
		display: none;
	}
    .name {
        color: black !important;
        width: auto;
        font-family: 'Special Elite', cursive;
    }
    .jumbotron .btn {
        display: none;
    }
    .projects .btn-group {
        display: none;
    }
    .footer-nav{
        display: none;
    }
}
@media only screen and (min-width: 781px) {
    .name {
        color: black !important;
        font-size: 800% !important;
        font-family: 'Special Elite', cursive;
    }
}


body {
	overflow-x: hidden;
    background-image: url('../img/presence.png');
    background-repeat: repeat;
}
/*jumbotron*/

.jumbotron {
	height: 100vh;
    background: none;
}
.jumbotron-bg {
    background-image: url('../img/sharkbwbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center !important;
    background-color: white;
}

.subheader-jumbotron {
    color: black !important;
    font-size: 200% !important;

}
/* end jumbotron*/


.content-container {
    background-color:white;
    padding-top: 2.5%
}


/*Projects*/
.projects .btn-group {
    margin-right: 1.5%;
    margin-left: 1.5%;
}
.project {
	margin-left: 2.5%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 2.5%;
    padding-bottom: 2%;
    padding-top:2%;
    border-left: solid black 2px;
    border-top: solid black 2px;
}
.project-title {
    font-family: 'Special Elite', cursive;
}
.project-type {
    background-color: black;
    color: white !important;
    height: 100% !important;
}
.project img{
	width: 80% !important;
    height: 80% !important;
    margin-top:10%;
	margin-left:10%;
	margin-right: 10%;
    margin-bottom: 10%;
}
/*end projects*/

/*About Me*/
.aboutme {
}
.aboutme-title {
    font-family: 'Special Elite', cursive;
}
.aboutme-text {
	margin-left: 2.5%;
	margin-right: 2.5%;
}
.aboutme-img {
    height: 100% !important;
    width: 100% !important;
}

/*end about me*/
/*contact me*/
.contactme-title {
    font-family: 'Special Elite', cursive;
}
.contactme-sociallinks {
    margin-bottom: 3%;
}
.contactme-sociallinks a {
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.contactme-form {
    margin-top: 2%;
    margin-right:10%;
    width: 80%;
    margin-left:10%;
}
/*end contact me*/
/*footer*/
.footer {
	margin-bottom: 4%;
}
.footer-nav{
    list-style-type: none;
}
.footer-nav li{
    display: inline-block;
    margin: 1.5%;
}
.footer-nav .copyright{
    float: right;
}
/*end footer*/


/*Preloader CSS*/
#loaderMask{
    text-align: center;
    padding-top: 20%;
}
#loaderMask span{
    font-size: 5em;

}