@media only screen and (max-width: 780px) {
	.navbar-socialicons {
		display: none;
	}
}


body {
	overflow-x: hidden; 
}
/*jumbotron*/
.name {
	margin-bottom: 10%;
}

.jumbotron {
	height: 50em;
	background-image: url('../img/sharkjumbotron.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
}
/* end jumbotron*/


/*Projects*/
.project {
	margin-left: 2.5%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-right: 2.5%;
}
.project img{
	width: 80%;
	margin-left:10%;
	margin-right: 10%;
}
/*end projects*/

/*About Me*/
.aboutme-text {
	margin-left: 2.5%;
	margin-right: 2.5%;
}
/*end about me*/

/*footer*/
.footer {
	margin-left: 5%;
	margin-bottom: 1.5%;
	margin-bottom: 1.5%;
}
/*end footer*/

/*extra classes*/
.text-shadow {
	text-shadow: 2px 2px white;
}