<!DOCTYPE html>

<html ng-app="portfolio">
	<head>
		<title>Ryder McMinn | Portfolio</title>

		<!--Meta-->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Website and Portfolio for Software Engineer Ryder McMinn containing his projects and assorted other odds and ends.">
	    <meta name="keywords" content="ryder, mcminn, projects, software, engineer, portfolio, indiana, university, personal, website, developer, designer">

	    <!--Stylesheets-->
	    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	</head>
	<body>

		<!--Jumbotron-->
		<div class="jumbotron">
			<!--Nav-->
			<nav class="navbar navbar-default" role="navigation">
				 <div class="container-fluid">

				    <!--Nav Header-->
				    <div class="navbar-header">
				    	<a class="navbar-brand" href="#">Ryder McMinn</a>
				    </div>
				    <!--Nav Links-->
				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    	<ul class="nav navbar-nav">
				        	<li><a href="#">Skills</a></li>
				        	<li class="dropdown">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
					          <ul class="dropdown-menu">
					            <li><a href="#"><em>Professional</em> - IDEM Field Notes Tools</a></li>
					            <li class="divider"></li>
					            <li><a href="#"><em>Personal</em> - Indiana University GPA Calculator</a></li>
					            <li><a href="#"><em>Personal</em> - Portfolio Website</a></li>
					             <li class="divider"></li>
					            <li><a href="#">Other Projects</a></li>
					          </ul>
					        </li>
				        	<li><a href="#">About Me</a></li>
				        	<li><a href="#">Contact Me</a></li>
			       		</ul>
			       	</div>

				</div>
			</nav>
		  <div class="container">
		    <h1>Ryder McMinn</h1>
		    <h1><small>Student. Software Engineer. Shark Enthusiast.</small></h1>
		    <p><a class="btn btn-primary btn-lg" role="button">Check Out My Projects!</a></p>
		  </div>
		</div>

		<!--Skills-->
		<div class="skills" ng-controller="SkillController as skillCtrl">
			<h2 class="text-center">Skills</h2>
			<h2 class="text-center"><small>Languages, Frameworks, and Tools</small></h2>
			<hr />
			<div class="row">
				<div class="col-md-4" ng-repeat="skill in skillCtrl.skills | orderBy:'-knowledge'">
					<div class="thumbnail">
				      <img src="http://placeimg.com/500/200/any" alt="...">
				      <div class="caption">
				        <h3>{{skill.name}}</h3>
				        <div class="progress progress-striped">
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{skill.knowledge}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.knowledge}}%">
						    <span class="sr-only">{{skill.knowledge}}%</span>
						  </div>
						</div>
				        <div ng-show="skill.frameworks[0]">
				        	<h4>Frameworks</h4>
				        	<ul>
				        		<li ng-repeat="framework in skill.frameworks"><p>{{framework.name}}</p></li>
				        	</ul>
				        </div>
				        <div ng-show="skill.tools[0]">
				        	<h4>Tools</h4>
				        	<ul>
				        		<li ng-repeat="tool in skill.tools"><p>{{tool.name}}</p></li>
				        	</ul>
				        </div>
				      </div>
    				</div>
				</div>
			</div>
		</div>

		<!--Projects-->
		<div class="projects" ng-controller="ProjectController as projectCtrl">
			<h2 class="text-center">Projects</h2>
			<h2 class="text-center"><small><em>Professional and Personal</em></small></h2>
			<hr />
			<div class="row">
				<div class="col-md-6" ng-repeat="project in projectCtrl.projects">
					<div class="thumbnail">
				      <img src="http://placeimg.com/500/200/any" alt="...">
				      <div class="caption">
				        <h3>{{project.name}}</h3>
				      </div>
    				</div>
				</div>
				<div class="col-md-6">
					<div class="thumbnail">
				      <img src="http://placeimg.com/500/200/any" alt="...">
				      <div class="caption">
				        <h3>Other Projects</h3>
				      </div>
    				</div>
				</div>
			</div>
		</div>

		<!--About Me-->
		<div class="aboutme">
			<h2 class="text-center">About Me</h2>
			<h2 class="text-center"><small>Just A Brief Tid Bit</small></h2>
			<hr />
			<div class="row">
				<div class="col-md-6">
					<p>I'm a student at Indiana University pursuing my B.S. in Computer Science with a Minor in Business and a Minor in Security Informatics (Cybersecurity). I am extremely passionate about software, video game, and web development, and one day, I hope to pursue those passions professionally.  I enjoy playing guitar, sharks, and the occasional scotch; always two fingers on the rocks. I'm always ready and overtly willingly to learn, and I couldn't imagine a job where I didn't have to.</p>
					<blockquote class="blockquote-reverse"><p>A ship is safe in harbor, but that's not what ships are for.</p>
						<footer><cite>William G.T. Shedd</cite></footer>
					</blockquote>
				</div>
				<div class="col-md-6">
					<img src="http://placeimg.com/900/500/any" alt="...">
				</div>
			</div>
		</div>

		<!--Contact Me-->
		<div class="contactme">
			<h2 class="text-center">Contact Me</h2>
			<h2 class="text-center"><small>Shoot Me An Email!</small></h2>
			<hr />
			<div class="col-md-6">
				<form>
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">@</span>
							<input type="text" class="form-control" placeholder="Email">
						</div>
					 	<input type="text" class="form-control" placeholder="Subject">
					 	<textarea class="form-control" placeholder="Message"></textarea>
					</div>
				</form>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
				  <div class="panel-heading">Contact Emails</div>
				  <div class="panel-body">
					<h4>General and Hiring Related</h4>
					<a href="mailto:mcminnra@gmail.com">mcminnra@gmail.com</a>
					<h4>Website Related</h4>
					<a href="mailto:mcminnra@gmail.com">ryder@rydermcminn.com</a>
				  </div>
				</div>
			</div>
		</div>

		<!--JavaScript Init-->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
	</body>
</html>