<!DOCTYPE html>

<html ng-app="portfolio">
<head>
    <title>Ryder McMinn | Portfolio</title>
    <link rel="icon"
          type="image/png"
          href="favicon.ico">
    <!--Meta-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website and Portfolio for Software Engineer Ryder McMinn containing his projects and assorted other odds and ends.">
    <meta name="keywords" content="ryder, mcminn, projects, software, engineer, portfolio, indiana, university, personal, website, developer, designer">

    <!--start PRODSTYLE imports
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/pace.css">
    <link href="bower_components/lightbox/css/lightbox.css"   rel="stylesheet" />
    <link href="css/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    end PRODSTYLE imports-->

    <!--start DEVSTYLE imports-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/pace.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="bower_components/lightbox/css/lightbox.css"   rel="stylesheet" />
    <link href="css/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <!--end DEVSTYLE imports-->
</head>
<body>
<div class="jumbotron-bg">

    <div class="container">

        <!--Jumbotron-->
        <div class="jumbotron">
            <a name="home"></a>
            <!--Nav-->
            <nav class="navbar navbar-default navbar-inverse" role="navigation">
                <div class="container-fluid">

                    <!--Nav Header-->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#home"><span class="glyphicon glyphicon-registration-mark"></span></a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!--Nav Links-->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#aboutme">About Me</a></li>
                            <li><a href="#projects">Projects</a></li>
                            <li><a href="#contactme">Contact Me</a></li>
                            <li><a href="http://blog.rydermcminn.com">Blog</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right navbar-socialicons">
                            <li><a class="navbar-link" href="http://www.github.com/rmcminn"><i class="fa fa-github fa-lg"></i></a></li>
                            <li><a class="navbar-link" href="http://www.linkedin.com/pub/ryder-mcminn/76/a96/506"><i class="fa fa-linkedin fa-lg"></i></a></li>
                            <li><a class="navbar-link" href="http://careers.stackoverflow.com/rydermcminn"><i class="fa fa-stack-overflow fa-lg"></i></a></li>
                            <li><a class="navbar-link active" href="https://www.elance.com/s/mcminnra/"><i class="fa fa-bolt fa-lg"></i> Hire Me!</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container text-center">
                <h1 class="name">Ryder McMinn</h1>
                <i class="fa fa-anchor fa-4x"></i>
                <h1 class="subheader-jumbotron">Student. Developer. Shark Enthusiast.</h1>
                <br />
                <p><a class="btn btn-primary btn-lg" role="button" href="#projects">Projects! Go! <i class="fa fa-arrow-down"></i></a></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="content-container">
        <!--About Me-->
        <div class="aboutme">
            <a name="aboutme"></a>
            <h2 class="aboutme-title text-center"><span class="glyphicon glyphicon-user"></span> About Me</h2>
            <h2 class="text-center"><small>Just A Brief Tid Bit</small></h2>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <p class="aboutme-text">I'm a student at Indiana University pursuing my B.S. in Computer Science with a Minor in Business and Security Informatics (Cybersecurity). I am extremely passionate about software and web development, and one day, I hope to pursue those passions professionally.  I enjoy playing guitar, video games, sharks, and the occasional scotch; always two fingers on the rocks. I'm always ready and overtly willingly to learn anything, and I couldn't imagine a job where I didn't have to.</p>
                    <blockquote class="blockquote-reverse"><p>A ship is safe in harbor, but that's not what ships are for.</p>
                        <footer><cite>William G.T. Shedd</cite></footer>
                    </blockquote>
                </div>
                <div class="col-md-6">
                    <img class="aboutme-img" src="img/aboutmeshark.jpg" alt="...">
                </div>
            </div>
        </div>

        <!--Projects-->
        <div class="projects" ng-controller="ProjectController as projectCtrl">
            <a name="projects"></a>
            <h2 class="project-title text-center"><span class="glyphicon glyphicon-fire"></span> Projects</h2>
            <h2 class="text-center"><small><em>Professional and Personal</em></small></h2>
            <hr />
            <div class="text-center">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" onClick="$('.PROJECT').show();">All</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" onClick="$('.PROJECT').hide(); $('.JAVA').show();">Java</button>
                    <button type="button" class="btn btn-default" onClick="$('.PROJECT').hide(); $('.HTML5CSS').show();">HTML/CSS</button>
                    <button type="button" class="btn btn-default" onClick="$('.PROJECT').hide(); $('.JAVASCRIPT').show();">JavaScript</button>
                    <button type="button" class="btn btn-default" onClick="$('.PROJECT').hide(); $('.CSHARP').show();">C#</button>
                    <button type="button" class="btn btn-default" onClick="$('.PROJECT').hide(); $('.OBJECTIVEC').show();">Objective C</button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" onClick="$('.PROJECT').hide(); $('.PROFESSIONAL').show();">Professional</button>
                    <button type="button" class="btn btn-default" onClick="$('.PROJECT').hide(); $('.PERSONAL').show();">Personal</button>
                </div>
            </div>
            <hr />

            <div class="row project {{project.classtags}}" ng-repeat="project in projectCtrl.projects">
                <div class="col-md-2 project-type">
                    <h4><i>{{project.type}}</i></h4>
                </div>
                <div class="col-md-5">
                    <h3>{{project.name}}</h3>
                    <hr />
                    <p><i ng-repeat="language in project.languages"> * {{language.name}}</i></p>
                    <p><i ng-repeat="framework in project.frameworks"> * {{framework.name}}</i></p>
                    <div class="well" ng-show="project.description">{{project.description}}</div>
                    <div ng-bind-html="project.sourcecode">
                    </div>
                </div>
                <div class="col-md-5">
                    <a href="{{project.imgsrc}}" data-lightbox="{{project.name}}" data-title="{{project.name}}"><img src="{{project.imgsrc}}" alt="..."></a>
                </div>
            </div>

            <div class="row project">
                <div class="col-md-12">
                    <h3>Other Projects <i class="fa fa-cubes"></i></h3>
                    <hr />
                    <p>You can view all my other projects over at my GitHub Page</p>
                    <i class="fa fa-github"></i><a href="https://www.github.com/rmcminn"> GitHub/rmcminn</a>
                </div>
            </div>
        </div>

        <!--Contact Me-->
        <div class="contactme">
            <a name="contactme"></a>
            <h2 class="contactme-title text-center"><span class="glyphicon glyphicon-envelope"></span> Contact Me!</h2>
            <hr />
            <div class="row contactme-sociallinks text-center">
                <a class="navbar-link" href="http://www.github.com/rmcminn"><i class="fa fa-github fa-4x"></i></a>
                <a class="navbar-link" href="http://www.linkedin.com/pub/ryder-mcminn/76/a96/506"><i class="fa fa-linkedin fa-4x"></i></a>
                <a class="navbar-link" href="http://careers.stackoverflow.com/rydermcminn"><i class="fa fa-stack-overflow fa-4x"></i></a>

            </div>
            <div class="row contactme-sociallinks text-center">
                <a class="navbar-link active text-right" href="https://www.elance.com/s/mcminnra/"><i class="fa fa-bolt fa-3x"> Hire Me!</i></a>
            </div>
            <hr />
            <div class="row text-center contactme-form">
                <form method="post" action="./php/sendmail.php">
                    <h2 class="text-left"><small><i>...or shoot me an email!</i></small></h2>
                    <div class="form-group">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon">@</span>
                            <input type="email" name="email" class="form-control" placeholder="Your Email">
                        </div>
                        <br />
                         <input type="text" class="form-control" placeholder="Subject" name="subject">
                        <br />
                         <textarea class="form-control" placeholder="Message" name="message"></textarea>
                        <br />
                        <div class="btn-group">
                         <button type="submit" class="btn btn-default">Submit</button>
                         <button type="Reset" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--Footer-->
        <div class="footer">
            <hr />
            <ul class="footer-nav">
                <li><a href="#home"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#aboutme">About Me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contactme">Contact Me</a></li>
                <li><a href="http://blog.rydermcminn.com">Blog</a></li>
                <li class="copyright"><i>Copyright &copy; Ryder McMinn 2014</i></li>
            </ul>
        </div>
    </div>

</div>
<!--JavaScript Init-->

<!--start PRODSCRIPT imports
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular/angular-sanitize.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/lightbox/js/lightbox.js"></script>
<script src="js/app.js"></script>
<script src="js/pace.min.js"></script>
<script src="js/controllers.js"></script>
<script src="js/blur.min.js"></script>
<script src="js/script.min.js"></script>
end PRODSCRIPT imports-->

<!--start DEVSCRIPT imports-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular/angular-sanitize.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/lightbox/js/lightbox.js"></script>
<script src="js/app.js"></script>
<script src="js/pace.js"></script>
<script src="js/controllers.js"></script>
<script src="js/blur.js"></script>
<script src="js/script.js"></script>
<!--end DEVSCRIPT imports-->

<!--Google Analytics-->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46448239-3', 'auto');
    ga('send', 'pageview');

</script>
</body>
</html>
