{% extends "base.html" %}

{% block content %}
<main role="main" class="container">

	<section class="row">
		<div class="col-lg-4 text-center">
			<img src="static/img/headshot.jpg" alt="Ryder McMinn" class="headshot rounded">
		</div>
		<div class="col-lg-8 info">
			<h1>Ryder McMinn</h1>
			<p class="selfdesc">
				<em>
					Machine Learning Engineer, Data Scientist, Haphazard Adventurer, and Hopeful Space Explorer.
				</em>
			</p>
			<p>
				Data Scientist at Microsoft
			</p>
			<ul style="list-style-type: none;">
				<li>
					<i class="fa fa-envelope"></i>
					mcminnra<span style="display:none">xzy</span>&#x0040;gmail&#x002E;com
				</li>
				<li>
					<i class="fa fa-github"></i>
					<a href="https://github.com/mcminnra/">Github</a>
				</li>
				<li>
					<i class="fa fa-linkedin"></i>
					<a href="https://www.linkedin.com/in/rydermcminn/">LinkedIn</a>
				</li>
			</ul>
		</div>
	</section>

	<hr>

	<!--
		<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="#aboutme">About Me</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#resume">Resume</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#projects">Projects</a>
		</li>
		</ul>
		<hr>
		-->

	<section class="row" id="bio">
		<div class="col-md-12">
			<h2>Bio</h2>
			<p>
				My passion is building innovations for the world by leveraging the predictive power of data. I love
				building predictive
				Machine Learning models, efficient and optimized ML platforms, and being responsible for implementing
				the "AI" in
				AI-powered technology. I'm interested in any area where I can go in-depth and develop tailored solutions
				to the world's
				most difficult problems. For humanity to advance and solve the greatest challenges we can imagine, we
				need to give some
				of the cognitive load to our machines.
			</p>
		</div>
	</section>
	<!-- #bio -->

	<section class="row" id="education">
		<div class="col-md-12">
			<h2>Education</h2>
			<p>
				<b>Indiana University</b>
				<br />
				<em>Masters of Science in Data Science</em>, Aug. 2017 - May 2019
			</p>
			<p>
				<b>Indiana University</b>
				<br />
				<em>Bachelors of Science in Computer Science</em>, Aug. 2012 - May 2017
			</p>
		</div>
	</section>
	<!-- #education -->

	<section class="row" id="projects">
		<div class="col-md-12">
			<h2>Selected Projects</h2>
			<p>
				<b>npml (No Packages Machine Learning)</b> -
				<a href="https://github.com/mcminnra/npml">github.com/mcminnra/npml</a>
				<br /> Data Science and Machine Learning library written (almost) entirely without packages.
			</p>
			<p>
				<b>Data Science Notebooks</b> -
				<a href="https://github.com/mcminnra/notebooks">github.com/mcminnra/notebooks</a>
				<br /> Repo of various notebooks I've written for data analysis, machine learning, AI, primers, and
				everything in-between.
			</p>
		</div>
	</section>
	<!-- #projects -->

</main>
<!-- /.container -->
{% endblock %}
