<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Ryder McMinn</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="static/css/normalize.css">
	<link rel="stylesheet" href="static/css/main.css">
</head>

<body>
	<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

	<main role="main" class="container rounded">

		<section class="row">
			<div class="col-md-4">
				<img src="static/img/headshot.jpg" alt="Ryder McMinn" class="headshot">
			</div>
			<div class="col-md-8">
				<h1>Ryder McMinn</h1>
				<p class="lead">
					M.S. Data Science Student at Indiana University
				</p>
				<ul style="list-style-type: none;">
					<li>
						<i class="fa fa-envelope"></i> mcminnra [AT] gmail [DOT] com</li>
					<li>
						<i class="fa fa-envelope"></i> rmcminn [AT] iu [DOT] edu</li>
					<li>
						<i class="fa fa-github"></i>
						<a href="https://github.com/rmcminn/">Github</a>
					</li>
					<li>
						<i class="fa fa-linkedin"></i>
						<a href="https://www.linkedin.com/in/rydermcminn/">LinkedIn</a>
					</li>
				</ul>
			</div>
		</section>

		<hr>

		<!--
	  <ul class="nav">
	    <li class="nav-item">
	      <a class="nav-link" href="#aboutme">About Me</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#resume">Resume</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" href="#projects">Projects</a>
	    </li>
	  </ul>
	  <hr>
	  -->


		<section class="row">
			<div class="col-md-12">
				<p>
					<em>
						Summer 2018 Data Scientist Intern at Microsoft & Graduate Research Assistant at
						<a href="vision.soic.indiana.edu/">Indiana University Computer Vision Lab</a>
					</em>
				</p>
			</div>
		</section>

		<section class="row" id="aboutme">
			<div class="col-md-12">
				<h2>About Me</h2>
				<p>
					I am a second year M.S. Data Science student at Indiana University. My passions are Machine Learning, Data Science, Artificial
					Intelligence, and Statistical Analysis, however that only scratches the surface. I consider myself a scientist because
					I love to create, build, and learn everything I can about technology and mathematics. Pursuing a career where I can
					do just that is at the forefront of my aspirations.
				</p>
			</div>
		</section>

		<section class="row">
			<div class="col-md-12">
				<h2>Education</h2>
				<p>
					<b>Indiana University</b>
					<br/>
					<em>Masters of Science in Data Science</em>, Aug. 2017 - May 2019 (Expected)
				</p>
				<p>
					<b>Indiana University</b>
					<br/>
					<em>Bachelors of Science in Computer Science</em>, Aug. 2012 - May 2017
				</p>
			</div>
		</section>

		<section class="row" id="resume">
			<div class="col-md-12">
				<h2>Resume</h2>
				<p> Download Resume
					<em>(pdf, Last Update: 2018-6-27)</em>:
					<a href="static/files/resume-rydermcminn.pdf">Resume</a>
				</p>
			</div>
		</section>

		<section class="row" id="projects">
			<div class="col-md-12">
				<h2>Selected Projects</h2>
				<p>
					<b>Data Science Notebooks</b> -
					<a href="https://github.com/rmcminn/notebooks">github.com/rmcminn/notebooks</a>
					<br/> Repo of various notebooks I've written for data analysis, machine learning, AI, primers, and everything in-between
				</p>
				<p>
					<b>yamlfs (Yet Another Machine Learning From Scratch)</b> -
					<a href="https://github.com/rmcminn/yamlfs">github.com/rmcminn/yamlfs</a>
					<br/> Libraries where I re-implement AI and Machine Learning Algorithms I come across during my studies. Meant as a learning
					tool for myself and anyone else who finds it useful.
				</p>
			</div>
		</section>

	</main>
	<!-- /.container -->


	<script src="static/js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="static/js/plugins.js"></script>
	<script src="static/js/main.js"></script>

	<script>
		window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
		ga('create', 'UA-46448239-3', 'auto'); ga('send', 'pageview')
	</script>
	<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>