<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/main.css">
  </head>
  <body>
    <!-- Header -->
    <div class="container">
      <h1 style="text-align: center">Welcome, Mr. McMinn</h1>
      
      <!-- Links -->
      <div class="row">
	<div class="col-md-4">
	  <h2>Checks</h2>
	  <ul>
	    <li><a href="https://mail.google.com/" target="_blank">GMail</a></li>
	    <li><a href="https://mail.iu.edu" target="_blank">IU Exchange</a></li>
	    <li><a href="https://news.ycombinator.com/" target="_blank">Hacker News</a></li>
	  </ul>
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	</div>
      </div>
    </div>
  </body>
</html>
