<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" ng-app="portfolio">

<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	  <title>Ryder McMinn</title>
	  <meta name="description" content="Website and Portfolio for Software Engineer Ryder McMinn containing his projects and assorted other odds and ends.">
	  <meta name="keywords" content="ryder, mcminn, projects, software, engineer, portfolio, indiana, university, personal, website, developer, designer">

	  <link rel="shortcut icon" href="img/favicon.ico">
	  <link rel="stylesheet" href="css/normalize.css">
	  <link rel="stylesheet" href="css/foundation.css">
	  <link rel="stylesheet" href="css/foundation-icons.css">
	  <link rel="stylesheet" href="css/style.css">

	  <script src="js/vendor/modernizr.js"></script>
	  <script src="js/vendor/jquery.js"></script>
	  <script src="js/foundation/foundation.js"></script>
	  <script src="js/foundation/foundation.joyride.js"></script>
	  <script src="js/vendor/jquery.cookie.js"></script>
	</head>
	<body>
		<a name="home"></a>
		<nav class="top-bar" data-topbar>
		  <ul class="title-area">
			<li class="name">
			  <h1><a href="#"Ryder McMinn</a></h1>
			</li>
		  </ul>
		  <section class="top-bar-section">
			<!-- Left Nav Section -->
			<ul class="left">
				<li><a href="#skills" class="wobble-horizontal">Skills</a></li>
				<li class="has-dropdown">
					<a href="#projects" class="wobble-horizontal">Projects</a>
					<ul class="dropdown">
					  <li><a href="#fieldnotes"><i>Professional</i> - IDEM Field Notes Tool</a></li>
					  <li><a href="#iugpacalc"><i>Personal</i> - Indiana University GPA Calculator</a></li>
					  <li><a href="#portfolio"><i>Personal</i> - Portfolio Website</a></li>
					  <li><a href="#otherprojects">Other Projects</a></li>
					</ul>
				</li>
				<li><a href="#aboutme" class="wobble-horizontal">About Me</a></li>
				<li><a href="#contactme" class="wobble-horizontal">Contact Me</a></li>
			</ul>
		  </section>
		</nav>
		<!--Big Banner-->
		<div class="bigbanner">
			<hgroup>
				<h1>Ryder McMinn</h1>
				<h1 class="subheader">Student. Software Engineer. Shark Enthusiast.</h1>
				<a href="#projects" class="button">View My Projects!</a>
			</hgroup>
		</div>
		<!--End Big Banner-->
		
		<!--Skills-->
		<div class="skills" ng-controller="SkillController as skillCtrl">
			<a name="skills"></a>
			<hgroup>
				<h2 class="white"><strong><i class="fi-crown"></i> Skills</strong></h2>
				<h3 class="subheader">Languages, Frameworks, and Tools</h3>
			</hgroup>
			<hr />
			<div class="otherSkill">
				<h3>Operating Systems I Use</h3>
				<h5>Windows 8.1 - Mac OSX - Android</h5>
				<br />
				<h3>Favorite Applications</h3>
				<h5>Notepad++ - Sublime 2 - OneNote</h5>
				<br />
				<h3>Programming Languages</h3>
			</div>
			<ul class="tabs" data-tab>
			  <li ng-repeat="skill in skillCtrl.skills" class="tab-title"><a href="#{{skill.name}}">{{skill.name}}</a></li>
			</ul>
			<div class="tabs-content">
			  <div class="content skill" id="{{skill.name}}"  ng-repeat="skill in skillCtrl.skills">
			  	<h3>{{skill.name}}</h3>
			  	<h5>Skill Level
			    <div class="progress">
					  <span class="meter" style="width: {{skill.knowledge}}%"></span>
				</div>
				<div ng-show="skill.frameworks[0]">
					<h5>Frameworks:</h5>
					<p ng-repeat="framework in skill.frameworks">{{framework.name}}</p>
				</div>
				<div ng-show="skill.tools[0]">
					<h5>Tools:</h5>
					<p ng-repeat="tool in skill.tools">{{tool.name}}</p>
				</div>
			  </div>
			</div>
			<br />
		</div>
		<!--End Skills-->
		
		<!--Projects-->
		<div class="projects">
			<a name="projects"></a>
			<hgroup>
				<h2 class="white"><strong><i class="fi-list-bullet"></i> Projects</strong></h2>
				<h3 class="subheader"><i>Professional and Personal</i></h3>
			</hgroup>
			<hr />
			<!--IDEM Field Notes Tool-->
			<div class="project">
				<a name="fieldnotes"></a>
				<ul class="large-block-grid-2">
					<li>
						<h3 class="project-identifier"><i>Professional</i></h3>
						<p class="project-title">IDEM Field Notes Tool</p>
						<p>HTML5 - CSS - JavaScript - C#</p>
						<p>JQuery - JQuery UI - JQuery Mobile - ASP.NET</p>
						<p>An HTML5 web application developed for the Indiana Department of Environmental Management that allowed inspectors to take detailed notes regarding site inspections. The application also uses ASP.NET for the business layer.</p>
						<p><i>*Source code not publicly available, but can be produced on request</i></p>
					</li>
					<li>
						<ul class="large-block-grid-2">
						  <li><img src="img/IDEMFieldNotes/MainMenuFieldNotes.png" /></li>
						  <li><img src="img/IDEMFieldNotes/SitesFieldNotes.png" /></li>
						</ul>
					</li>
				</ul>
				<hr />
			</div>
			<!--IU GPA Calculator-->
			<div class="project">
				<a name="iugpacalc"></a>
				<ul class="large-block-grid-2">
					<li>
						<h3 class="project-identifier"><i>Personal</i></h3>
						<p class="project-title">Indiana University GPA Calculator</p>
						<p>Java</p>
						<p>A simple Java Application that calculates GPA according to IU's standards.</p>
						<a href="https://github.com/rmcminn/GradeCalculatorIU">GradeCalculatorIU (GitHub)</a>
					</li>
					<li>
						<img src="img/IUGPACalculator/GradeCalculatorIU.jpg" />
					</li>
				</ul>
				<hr />
			</div>
			<!--Portfolio-->
			<div class="project">
				<a name="portfolio"></a>
				<ul class="large-block-grid-2">
					<li>
						<h3 class="project-identifier"><i>Personal</i></h3>
						<p class="project-title">Portfolio</p>
						<p>HTML5 - CSS - JavaScript</p>
						<p>Foundation 5 - JQuery - Hover.css - Angular JS</p>
						<p>My portfolio website that I use to display my projects and other assorted things.</p>
						<a href="https://github.com/rmcminn/Portfolio">Portfolio (GitHub)</a>
					</li>
					<li>
						<img src="img/Portfolio/portfolio.png" />
					</li>
				</ul>
				<hr />
			</div>
			<!--other projects-->
			<div class="project">
				<a name="otherprojects"></a>
				<ul class="large-block-grid-2">
					<li>
						<p class="project-title"><i>Other Projects...</i></p>
						<p>You can view my other projects and various other odds and ends over at my GitHub Page.</p>
						<i class="fi-social-github"></i>
						<a href="https://github.com/rmcminn/">github.com/rmcminn/</a>
					</li>
					<li></li>
				</ul>
				<hr />
			</div>
		</div>
		<!--End Projects-->
		
		<!--About Me-->
		<div class="aboutme">
			<a name="aboutme"></a>
			<hgroup>
				<h2><strong><i class="fi-torso"></i> About Me</strong></h2>
				<h3 class="subheader">Just a Brief Description</h3>
			</hgroup>
			<hr />
			<ul class="large-block-grid-2">
				<li>
					<p>I'm a student at Indiana University pursuing my B.S. in Computer Science with a Minor in Business and a Minor in Security Informatics (Cybersecurity). I am extremely passionate about software, video game, and web development, and one day, I hope to pursue those passions professionally.  I enjoy playing guitar, sharks, and the occasional scotch; always two fingers on the rocks. I'm always ready and overtly willingly to learn, and I couldn't imagine a job where I didn't have to.</p>
					<blockquote>A ship is safe in harbor, but that's not what ships are for.<cite>William G.T. Shedd</cite></blockquote>
				</li>
				<li><img src="img/sharkdrawing2.gif" /></li>
			</ul>
		</div>
		<!--End About Me-->
		
		<!--Contact Me-->
		<div class="contactme">
			<a name="contactme"></a>
			<hgroup>
				<h2 class="white"><strong><i class="fi-mail"></i> Contact Me</strong></h2>
				<h3 class="subheader"><i>Shoot Me An E-Mail!</i></h3>
			</hgroup>
			<hr />
			<div class="contactinfo">
				<h1 class="contactinfo"><i>Contact Information</i></h1>
				<h2 class="contactinfo">Email</h2>
				<p><i>General and Hiring Related</i></p>
				<a href="mailto:mcminnra@gmail.com">mcminnra@gmail.com</a>
				<h2 class="contactinfo">School Email</h2>
				<p><i>School Rated</i></p>
				<a href="mailto:rmcminn@indiana.com">rmcminn@indiana.edu</a>
				<h2 class="contactinfo">Website Email</h2>
				<p><i>Website Related</i></p>
				<a href="mailto:ryder@rydermcminn.com">ryder@rydermcminn.com</a>
			</div>
		</div>
		<!--End Contact Me-->

		<!--Footer-->
		<footer class="footer">
			<hr />
			<dl class="sub-nav">
			  <dd><a href="#home">Back To Top</a></dd>
			  <dd><a href="#skills">Skills</a></dd>
			  <dd><a href="#projects">Projects</a></dd>
			  <dd><a href="#aboutme">About Me</a></dd>
			  <dd><a href="#contactme">Contact Me</a></dd>
			</dl>
			<p>© 2014 Ryder McMinn</p>
		</footer>

		<ol class="joyride-list" data-joyride>
		  <li data-id="homename" data-text="OK!" data-options="tip_location: top">
		    <p>Take the Tour?</p>
		  </li>
		</ol>

	  <script src="js/vendor/jquery.js"></script>
	  <script src="js/foundation/foundation.js"></script>
	  <script src="js/foundation.min.js"></script>
	  <script src="bower_components/angular/angular.js"></script>
	  <script src="bower_components/angular-route/angular-route.js"></script>
	  <script src="js/app.js"></script>
	  <script src="js/services.js"></script>
	  <script src="js/controllers.js"></script>
	  <script src="js/filters.js"></script>
	  <script src="js/directives.js"></script>
	  <script>
		$(document).foundation();
	  </script>
	</body>
</html>